body {
    font-family: "Barlow", sans-serif;
    margin: 0%;
  }

  .navbar {
    margin: 3%;
  }

  li.menu {
    list-style-type: none;
    float: right;
    margin-right: 5%;
  }

  .menu h3 {
    color: #246fb5;
    font-weight: bold;
  }

  .menu a {
    text-decoration: none;
  }

  .logo-img {
    width: 20%;
    float: left;
  }

  .list {
    width: 80%;
    float: right;
  }

  .logo {
    width: 50%;
  }

  h3:hover {
    text-decoration: underline;
  }
  /*
  #home {
    text-decoration: underline;
    color: #246fb5;
  }
  */

  .main-text h1 {
    color: #246fb5;
    /*text-shadow: 1px 1px 8px #000000;
    filter: drop-shadow(15px 12px 11px black); */
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  }

  .home {
    margin: 3%;
    padding-top: 5%;
    width: 35%;
  }

  .url {
    color: #246fb5;
    text-decoration: none;
    text-align: center;
  }

  .url:hover {
    text-decoration: underline;
  }

  .main-text {
    width: 70%;
    float: left;
  }

  .main-text-h1 {
    width: 110%;
  }

  .main-text-h4 {
    width: 115%;
  }

  .slider {
    width: 20%;
    float: right;
  }

  svg {
    margin-top: -3%;
  }

  .about_us, .portfolio, .contact_us {
    height: 100px;
  }

  .footer-end {
    margin-bottom: -3.5%;
  }

  .footer-end h4 {
    text-align: center;
    color: white;
    font-weight: lighter;
  }
